USE [wzh_new]
GO
/****** Object:  View [dbo].[TCM_BianPlan]    Script Date: 2021/07/25 17:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TCM_BianPlan]
AS
SELECT           BianPlanID, PlanFlag, BianCode, deliveryNote, DeliveryToName, PortName, DestinationCode, BillNo, ProductCode, ProductCodeSap, Package, PackageAmount, trolleyAmount, LicenseID, 
                      EditerID, EditTime, SortID, Enable, CanEdit, amount, WorkLineCode, zhizaoYongBian, BomVer, DanHaoBer, BiaoHao, XiangXing, ZuoFan, b2bOderNo, b2bIndexNo, CD_DeliveryAddress, 
                      PlanDate, sapOderNo, sapIndexNo, b2bPurchaseNo, specialBookNo, H, W, DH, DW, SW, FW, Comments, CD_Dealer, DealerAbbreviation, ProduceOrder, IvNo, labelNo, localStorage, 
                      specialContent, remark, saleOrderFlag, ProjectName, insertuser, insertdate, updateuser, updatedate
FROM             OT9080.scgl_PeiSong.dbo.TCM_BianPlan AS TCM_BianPlan_1


GO
/****** Object:  View [dbo].[t_check_plan]    Script Date: 2021/07/25 17:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[t_check_plan]
AS
SELECT           PlanFlag, ProductCode AS cd, ZuoFan AS no, ProduceOrder AS shunwei, amount AS suu, DealerAbbreviation AS jxs_name, WorkLineCode AS line_cd, CONVERT(date, PlanDate, 120) 
                      AS yotei_chk_date, H AS h, W AS w, DH AS dh, DW AS dw, SW AS sw, FW AS kw, b2bOderNo, b2bIndexNo, BianPlanID
FROM             dbo.TCM_BianPlan
GO
/****** Object:  View [dbo].[v_mi_check_list]    Script Date: 2021/07/25 17:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_mi_check_list]
AS
SELECT           '未检查' AS 状态, dbo.t_check_plan.PlanFlag AS 工单类型, dbo.t_check_plan.cd, dbo.t_check_plan.no AS 作番, dbo.t_check_plan.shunwei AS 顺位, dbo.t_check_plan.suu AS 数量, 
                      dbo.t_check_plan.jxs_name AS 经销商名, dbo.t_check_plan.line_cd, CONVERT(VARCHAR(100), dbo.t_check_plan.yotei_chk_date, 120) AS 预定检查日, ISNULL(dbo.t_check.result, '') 
                      AS 结果, dbo.t_check_plan.h AS 高, dbo.t_check_plan.w AS 宽, dbo.t_check_plan.dh, dbo.t_check_plan.dw, dbo.t_check_plan.sw, dbo.t_check_plan.kw AS 框宽, 
                      dbo.t_check_plan.b2bOderNo AS b2b订单号, dbo.t_check_plan.b2bIndexNo AS b2b订单序号, dbo.t_check_plan.BianPlanID AS 计划id
FROM             dbo.t_check_plan LEFT OUTER JOIN
                      dbo.t_check ON dbo.t_check_plan.cd = dbo.t_check.cd AND dbo.t_check_plan.no = dbo.t_check.no AND dbo.t_check_plan.yotei_chk_date = dbo.t_check.yotei_chk_date
WHERE            (NOT EXISTS
                          (SELECT           1 AS expr1
                             FROM             dbo.t_check AS b
                             WHERE            (dbo.t_check_plan.cd = cd) AND (dbo.t_check_plan.no = no) AND (dbo.t_check_plan.yotei_chk_date = yotei_chk_date))) OR
                      (ISNULL(dbo.t_check.result, N'') <> 'OK')

GO
/****** Object:  View [dbo].[v_check_new_result]    Script Date: 2021/07/25 17:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/
CREATE VIEW [dbo].[v_check_new_result]
AS
SELECT           dbo.t_check.cd, dbo.t_check.no AS 作番, dbo.t_check.department_cd AS 部门, dbo.t_check.line_cd AS 生产线, dbo.t_check.chk_user + '(' + ISNULL(dbo.m_user.user_name, '') 
                      + ')' AS 检查者, dbo.t_check.yotei_chk_date AS 预定检查日, dbo.t_check.chk_start_date AS 检查开始时间, dbo.t_check.chk_end_date AS 检查终了时间, DATEDIFF(ss, 
                      dbo.t_check.chk_start_date, dbo.t_check.chk_end_date) AS 检查时长, dbo.t_check.result AS 检查结果, dbo.t_check.qianpin AS 欠品, dbo.t_check.tools_scan_flg AS 直接扫描济, 
                      dbo.t_check.shared_ck_id AS 参照ID, dbo.t_check.h, dbo.t_check.w, dbo.t_check.dh, dbo.t_check.dw, dbo.t_check.sw, dbo.t_check.kw AS 框宽, dbo.t_check.b2bOderNo AS B2B订单号,
                       dbo.t_check.b2bIndexNo AS B2B订单序号, dbo.t_check.chk_user
FROM             dbo.t_check LEFT OUTER JOIN
                      dbo.m_user ON dbo.t_check.chk_user = dbo.m_user.user_cd

GO
/****** Object:  View [dbo].[v_check_result_ms]    Script Date: 2021/07/25 17:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** SSMS の SelectTopNRows コマンドのスクリプト  *****
  order by [t_check].[ck_id]
,t_check_ms.hyouji_jun
,t_check_ms.kind_jun*/
CREATE VIEW [dbo].[v_check_result_ms]
AS
SELECT           dbo.t_check.cd, dbo.t_check.no AS 作番, dbo.t_check_ms.chk_pos AS 检查位置, dbo.t_check_ms.chk_km_name AS 检查项目, dbo.t_check_ms.in_1 AS 输入值, 
                      dbo.t_check_ms.result AS 检查结果, dbo.t_check.department_cd AS 部门, dbo.t_check.line_cd AS 生产线, dbo.t_check.chk_user + '(' + ISNULL(dbo.m_user.user_name, N'') 
                      + ')' AS 执行检查检查者, dbo.t_check_ms.upd_date AS 执行检查日, dbo.t_check.qianpin AS 欠品, dbo.t_check.tools_scan_flg AS 直接扫描济, dbo.t_check.shared_ck_id AS 默认结果, 
                      dbo.t_check.ck_id, dbo.t_check_ms.hyouji_jun, dbo.t_check_ms.kind_jun, dbo.t_check_ms.upd_user, dbo.t_check_ms.ins_user, dbo.t_check_ms.ins_date
FROM             dbo.t_check LEFT OUTER JOIN
                      dbo.t_check_ms ON dbo.t_check.ck_id = dbo.t_check_ms.ck_id LEFT OUTER JOIN
                      dbo.m_user ON dbo.t_check_ms.upd_user = dbo.m_user.user_cd

GO
/****** Object:  View [dbo].[v_check_result_sou]    Script Date: 2021/07/25 17:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/

CREATE VIEW [dbo].[v_check_result_sou]
AS
SELECT [t_check].[cd] AS CD
      ,[t_check].[no] AS 作番
      ,t_check.[department_cd] AS 部门
      ,t_check.[line_cd] AS 生产线
      ,[chk_user] + '(' + isnull(m_user.user_name,'') + ')' AS 检查者
      ,[yotei_chk_date] AS 预定检查日
      ,[t_check].[result] 检查结果
      ,[qianpin] 欠品
      ,[tools_scan_flg] 直接扫描济
      ,[shared_ck_id] 默认结果

	  ,sum(	  case when t_check_ms.result='OK' then 1 else 0 end	  ) count_ok
	  ,sum(	  case when t_check_ms.result='NG' then 1 else 0 end	  ) count_ng

  FROM [t_check]
  LEFT JOIN m_user
  on [t_check].chk_user = m_user.user_cd
  left join t_check_ms 
  on t_check.ck_id = t_check_ms.ck_id

  group by
  t_check.[cd] 
      ,[t_check].[no]
      ,t_check.[department_cd] 
      ,t_check.[line_cd]
      ,[chk_user]
	  ,m_user.user_name
      ,[yotei_chk_date] 
      ,[qianpin] 
      ,[tools_scan_flg] 
      ,[shared_ck_id] 
	  ,[t_check].[result]


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t_check"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 183
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "m_user"
            Begin Extent = 
               Top = 189
               Left = 48
               Bottom = 365
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_check_new_result'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_check_new_result'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -120
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t_check"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 183
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_check_ms"
            Begin Extent = 
               Top = 189
               Left = 48
               Bottom = 365
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 44
         End
         Begin Table = "m_user"
            Begin Extent = 
               Top = 371
               Left = 48
               Bottom = 547
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_check_result_ms'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_check_result_ms'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[20] 4[41] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t_check_plan"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 183
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_check"
            Begin Extent = 
               Top = 7
               Left = 303
               Bottom = 183
               Right = 510
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_mi_check_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_mi_check_list'
GO
