USE [master]
GO
/****** Object:  Database [wzh]    Script Date: 2021/6/5 0:16:42 ******/
CREATE DATABASE [wzh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wzh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\wzh.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wzh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\wzh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wzh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wzh]
GO
/****** Object:  Table [dbo].[m_code_sys]    Script Date: 2021/6/5 0:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_code_sys](
	[sys_id] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[F1] [nvarchar](20) NULL,
	[F2] [nvarchar](20) NULL,
	[F3] [nvarchar](20) NULL,
	[F4] [nvarchar](20) NULL,
	[F5] [nvarchar](20) NULL,
	[F6] [nvarchar](20) NULL,
	[F7] [nvarchar](20) NULL,
	[F8] [nvarchar](20) NULL,
	[F9] [nvarchar](20) NULL,
	[F10] [nvarchar](20) NULL,
	[F11] [nvarchar](20) NULL,
	[F12] [nvarchar](20) NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
 CONSTRAINT [PK_m_code_sys] PRIMARY KEY CLUSTERED 
(
	[sys_id] ASC,
	[sys_name] ASC,
	[department_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_km_template]    Script Date: 2021/6/5 0:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_km_template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[F1] [nvarchar](20) NOT NULL,
	[F2] [nvarchar](20) NOT NULL,
	[F3] [nvarchar](20) NOT NULL,
	[F4] [nvarchar](20) NOT NULL,
	[F5] [nvarchar](20) NOT NULL,
	[F6] [nvarchar](20) NOT NULL,
	[F7] [nvarchar](20) NOT NULL,
	[F8] [nvarchar](20) NOT NULL,
	[F9] [nvarchar](20) NOT NULL,
	[F10] [nvarchar](20) NOT NULL,
	[F11] [nvarchar](20) NOT NULL,
	[F12] [nvarchar](20) NOT NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
	[length] [tinyint] NOT NULL,
	[jizong_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[kind_name] [nvarchar](20) NOT NULL,
	[kind_jun] [tinyint] NOT NULL,
	[pic_name] [nvarchar](200) NULL,
	[tools_ma] [nvarchar](50) NULL,
	[chk_pos] [nvarchar](50) NOT NULL,
	[chk_km_name] [nvarchar](50) NOT NULL,
	[hyouji_jun] [tinyint] NOT NULL,
	[yousen_jun] [tinyint] NOT NULL,
	[k_type] [nvarchar](50) NULL,
	[k1] [nvarchar](50) NULL,
	[k2] [nvarchar](50) NULL,
	[k3] [nvarchar](50) NULL,
	[chk_fmt] [nvarchar](200) NOT NULL,
	[chk_fs] [nvarchar](2) NOT NULL,
	[chk_times] [int] NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_m_km_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[F1] ASC,
	[F2] ASC,
	[F3] ASC,
	[F4] ASC,
	[F5] ASC,
	[F6] ASC,
	[F7] ASC,
	[F8] ASC,
	[F9] ASC,
	[F10] ASC,
	[F11] ASC,
	[F12] ASC,
	[length] ASC,
	[department_cd] ASC,
	[sys_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_user]    Script Date: 2021/6/5 0:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_user](
	[user_cd] [nvarchar](20) NOT NULL,
	[user_name] [nvarchar](20) NULL,
	[password] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NULL,
	[line_cd] [nvarchar](20) NOT NULL,
	[authority] [nvarchar](50) NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_m_user] PRIMARY KEY CLUSTERED 
(
	[user_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_check]    Script Date: 2021/6/5 0:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_check](
	[ck_id] [nvarchar](25) NOT NULL,
	[cd] [nvarchar](20) NOT NULL,
	[no] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[line_cd] [nvarchar](20) NOT NULL,
	[chk_user] [varchar](20) NULL,
	[yotei_chk_date] [datetime] NOT NULL,
	[chk_start_date] [datetime] NULL,
	[chk_end_date] [datetime] NULL,
	[status] [varchar](1) NULL,
	[result] [nvarchar](20) NULL,
	[chk_times] [int] NOT NULL,
	[suu] [varchar](10) NULL,
	[del] [varchar](1) NULL,
	[qianpin] [varchar](1) NULL,
	[shared_ck_id] [nvarchar](25) NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_t_check] PRIMARY KEY CLUSTERED 
(
	[ck_id] ASC,
	[cd] ASC,
	[no] ASC,
	[yotei_chk_date] ASC,
	[chk_times] ASC,
	[department_cd] ASC,
	[line_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_check_ms]    Script Date: 2021/6/5 0:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_check_ms](
	[id] [int] NOT NULL,
	[km_id] [int] NOT NULL,
	[F1] [nvarchar](20) NOT NULL,
	[F2] [nvarchar](20) NOT NULL,
	[F3] [nvarchar](20) NOT NULL,
	[F4] [nvarchar](20) NOT NULL,
	[F5] [nvarchar](20) NOT NULL,
	[F6] [nvarchar](20) NOT NULL,
	[F7] [nvarchar](20) NOT NULL,
	[F8] [nvarchar](20) NOT NULL,
	[F9] [nvarchar](20) NOT NULL,
	[F10] [nvarchar](20) NOT NULL,
	[F11] [nvarchar](20) NOT NULL,
	[F12] [nvarchar](20) NOT NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
	[length] [tinyint] NOT NULL,
	[jizong_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[kind_name] [nvarchar](20) NOT NULL,
	[kind_jun] [tinyint] NOT NULL,
	[pic_name] [nvarchar](200) NULL,
	[tools_ma] [nvarchar](50) NULL,
	[chk_pos] [nvarchar](50) NOT NULL,
	[chk_km_name] [nvarchar](50) NOT NULL,
	[hyouji_jun] [tinyint] NOT NULL,
	[yousen_jun] [tinyint] NOT NULL,
	[k_type] [nvarchar](50) NULL,
	[k1] [nvarchar](50) NULL,
	[k2] [nvarchar](50) NULL,
	[k3] [nvarchar](50) NULL,
	[chk_fmt] [nvarchar](200) NOT NULL,
	[chk_fs] [nvarchar](2) NOT NULL,
	[chk_times] [int] NOT NULL,
	[ck_id] [nvarchar](25) NOT NULL,
	[cd] [nvarchar](20) NOT NULL,
	[no] [nvarchar](20) NOT NULL,
	[in_1] [nvarchar](50) NOT NULL,
	[result] [nvarchar](20) NULL,
	[mark] [nvarchar](200) NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_t_check_ms] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[ck_id] ASC,
	[km_id] ASC,
	[cd] ASC,
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[m_code_sys] ([sys_id], [sys_name], [department_cd], [F1], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [F15], [F16], [F17], [F18], [F19], [F20]) VALUES (N'1', N'01引户枠模板', N'4', N'中国', N'中国', N'商品名', N'颜色', N'颜色', N'机种', N'枠/本体/装饰条', N'款式', N'款式', N'寛度', N'高度', N'玻璃式样', N'五金区分', N'是否有锁区分', N'左右', N'', N'', N'', N'', N'')
INSERT [dbo].[m_code_sys] ([sys_id], [sys_name], [department_cd], [F1], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [F15], [F16], [F17], [F18], [F19], [F20]) VALUES (N'2', N'02定尺模板', N'4', N'中国', N'中国', N'商品名', N'颜色', N'', N'机种', N'横纵区分', N'款式', N'宽度/足长', N'', N'', N'成套区分', N'长度/高度', N'入数', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[m_code_sys] ([sys_id], [sys_name], [department_cd], [F1], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [F15], [F16], [F17], [F18], [F19], [F20]) VALUES (N'3', N'03定尺（物件）', N'4', N'中国', N'中国', N'商品名', N'颜色', N'', N'机种', N'横纵区分', N'款式', N'宽度/足长', N'', N'', N'成套区分', N'长度/高度', N'入数', N'式样区分', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[m_km_template] ON 

SET IDENTITY_INSERT [dbo].[m_km_template] OFF
INSERT [dbo].[m_user] ([user_cd], [user_name], [password], [department_cd], [line_cd], [authority], [upd_user], [upd_date], [ins_user], [ins_date]) VALUES (N'100000', N'1', N'1', N'001', N'L001', N'1', N'No set', CAST(N'2021-05-29 00:01:54.420' AS DateTime), N'No set', CAST(N'2021-05-29 00:01:54.420' AS DateTime))
INSERT [dbo].[m_user] ([user_cd], [user_name], [password], [department_cd], [line_cd], [authority], [upd_user], [upd_date], [ins_user], [ins_date]) VALUES (N'3000447', N'刘仁环', N'', N'001', N'L001', N'2', N'No set', CAST(N'2021-05-29 00:01:54.417' AS DateTime), N'No set', CAST(N'2021-05-29 00:01:54.417' AS DateTime))
INSERT [dbo].[m_user] ([user_cd], [user_name], [password], [department_cd], [line_cd], [authority], [upd_user], [upd_date], [ins_user], [ins_date]) VALUES (N'3000623', N'张晓瑞', N'', N'001', N'L001', N'2', N'No set', CAST(N'2021-05-29 00:01:54.420' AS DateTime), N'No set', CAST(N'2021-05-29 00:01:54.420' AS DateTime))
GO
INSERT [dbo].[t_check] ([ck_id], [cd], [no], [department_cd], [line_cd], [chk_user], [yotei_chk_date], [chk_start_date], [chk_end_date], [status], [result], [chk_times], [suu], [del], [qianpin], [shared_ck_id], [upd_user], [upd_date], [ins_user], [ins_date]) VALUES (N'210601232809981', N'CHADDLWXXX12345', N'0101', N'', N'001', N'admin', CAST(N'2021-06-01 23:28:17.913' AS DateTime), CAST(N'2021-06-01 23:28:17.913' AS DateTime), NULL, N'3', NULL, 0, N'0', N'0', N'0', NULL, N'admin', CAST(N'2021-06-01 23:28:17.913' AS DateTime), N'admin', CAST(N'2021-06-01 23:28:17.913' AS DateTime))
INSERT [dbo].[t_check] ([ck_id], [cd], [no], [department_cd], [line_cd], [chk_user], [yotei_chk_date], [chk_start_date], [chk_end_date], [status], [result], [chk_times], [suu], [del], [qianpin], [shared_ck_id], [upd_user], [upd_date], [ins_user], [ins_date]) VALUES (N'210601233200982', N'CHADDLWXXX12345', N'0101', N'', N'001', N'admin', CAST(N'2021-06-01 23:34:47.310' AS DateTime), CAST(N'2021-06-01 23:34:47.310' AS DateTime), NULL, N'3', N'待', 0, N'0', N'0', N'0', NULL, N'admin', CAST(N'2021-06-01 23:34:47.310' AS DateTime), N'admin', CAST(N'2021-06-01 23:34:47.310' AS DateTime))
INSERT [dbo].[t_check] ([ck_id], [cd], [no], [department_cd], [line_cd], [chk_user], [yotei_chk_date], [chk_start_date], [chk_end_date], [status], [result], [chk_times], [suu], [del], [qianpin], [shared_ck_id], [upd_user], [upd_date], [ins_user], [ins_date]) VALUES (N'210602001636620', N'CHADDLWXXX12345', N'0101', N'', N'001', N'admin', CAST(N'2021-06-02 00:16:44.673' AS DateTime), CAST(N'2021-06-02 00:16:44.673' AS DateTime), NULL, N'3', N'待', 0, N'0', N'0', N'0', N'', N'admin', CAST(N'2021-06-02 00:16:44.673' AS DateTime), N'admin', CAST(N'2021-06-02 00:16:44.673' AS DateTime))
SET ANSI_PADDING ON

GO
/****** Object:  Index [NonClusteredIndex-20210527-210205]    Script Date: 2021/6/5 0:16:44 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20210527-210205] ON [dbo].[m_km_template]
(
	[F1] ASC,
	[F2] ASC,
	[F3] ASC,
	[F4] ASC,
	[F5] ASC,
	[F6] ASC,
	[F7] ASC,
	[F8] ASC,
	[F9] ASC,
	[F10] ASC,
	[F11] ASC,
	[F12] ASC,
	[F13] ASC,
	[F14] ASC,
	[F15] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NonClusteredIndex-20210527-210326]    Script Date: 2021/6/5 0:16:44 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20210527-210326] ON [dbo].[m_km_template]
(
	[F15] ASC,
	[F16] ASC,
	[F17] ASC,
	[F18] ASC,
	[F19] ASC,
	[F20] ASC,
	[length] ASC,
	[department_cd] ASC,
	[sys_name] ASC,
	[kind_name] ASC,
	[kind_jun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'①' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'②' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'③' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'④' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F4'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑤' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F5'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑥' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F6'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑦' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F7'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑧' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F8'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑨' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F9'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑩' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F10'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑪' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F11'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑫' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F12'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑬' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F13'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑭' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F14'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑮' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F15'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑯' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F16'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑰' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F17'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F18'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑲' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F19'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑳' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F20'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桁数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'length'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'机种名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'jizong_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'department_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'コード体系' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'sys_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'kind_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类表示顺序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'kind_jun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'pic_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'治具码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'tools_ma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查位置' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_pos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查项目' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_km_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目表示顺' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'hyouji_jun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目相同优先顺' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'yousen_jun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准值1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准值2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准值3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'公式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_fmt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查方式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_fs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_times'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户CD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'user_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'department_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'line_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'authority'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'upd_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'upd_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'ins_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'ins_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文字段乱码,别名乱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user'
GO
USE [master]
GO
