USE [master]
GO
/****** Object:  Database [wzh_new]    Script Date: 2021/07/22 17:49:03 ******/
CREATE DATABASE [wzh_new] ON  PRIMARY 
( NAME = N'wzh_new', FILENAME = N'D:\DB\wzh_new.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wzh_new_log', FILENAME = N'D:\DB\wzh_new_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wzh_new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wzh_new]
GO
/****** Object:  Table [dbo].[m_code_sys]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_code_sys](
	[sys_id] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[F1] [nvarchar](20) NULL,
	[F2] [nvarchar](20) NULL,
	[F3] [nvarchar](20) NULL,
	[F4] [nvarchar](20) NULL,
	[F5] [nvarchar](20) NULL,
	[F6] [nvarchar](20) NULL,
	[F7] [nvarchar](20) NULL,
	[F8] [nvarchar](20) NULL,
	[F9] [nvarchar](20) NULL,
	[F10] [nvarchar](20) NULL,
	[F11] [nvarchar](20) NULL,
	[F12] [nvarchar](20) NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
 CONSTRAINT [PK_m_code_sys] PRIMARY KEY CLUSTERED 
(
	[sys_id] ASC,
	[sys_name] ASC,
	[department_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_km_template]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_km_template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[F1] [nvarchar](20) NOT NULL,
	[F2] [nvarchar](20) NOT NULL,
	[F3] [nvarchar](20) NOT NULL,
	[F4] [nvarchar](20) NOT NULL,
	[F5] [nvarchar](20) NOT NULL,
	[F6] [nvarchar](20) NOT NULL,
	[F7] [nvarchar](20) NOT NULL,
	[F8] [nvarchar](20) NOT NULL,
	[F9] [nvarchar](20) NOT NULL,
	[F10] [nvarchar](20) NOT NULL,
	[F11] [nvarchar](20) NOT NULL,
	[F12] [nvarchar](20) NOT NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
	[length] [tinyint] NOT NULL,
	[jizong_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[filter] [nvarchar](400) NULL,
	[kind_name] [nvarchar](20) NOT NULL,
	[kind_jun] [tinyint] NOT NULL,
	[pic_name] [nvarchar](200) NULL,
	[tools_ma] [nvarchar](50) NULL,
	[chk_pos] [nvarchar](50) NOT NULL,
	[chk_km_name] [nvarchar](50) NOT NULL,
	[hyouji_jun] [tinyint] NOT NULL,
	[yousen_jun] [tinyint] NOT NULL,
	[k_type] [nvarchar](50) NULL,
	[k1] [nvarchar](50) NULL,
	[k2] [nvarchar](50) NULL,
	[k3] [nvarchar](50) NULL,
	[chk_fmt] [nvarchar](200) NOT NULL,
	[chk_fs] [nvarchar](2) NOT NULL,
	[chk_times] [int] NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_m_km_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[F1] ASC,
	[F2] ASC,
	[F3] ASC,
	[F4] ASC,
	[F5] ASC,
	[F6] ASC,
	[F7] ASC,
	[F8] ASC,
	[F9] ASC,
	[F10] ASC,
	[F11] ASC,
	[F12] ASC,
	[length] ASC,
	[department_cd] ASC,
	[sys_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_km_template_bk]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_km_template_bk](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[F1] [nvarchar](20) NOT NULL,
	[F2] [nvarchar](20) NOT NULL,
	[F3] [nvarchar](20) NOT NULL,
	[F4] [nvarchar](20) NOT NULL,
	[F5] [nvarchar](20) NOT NULL,
	[F6] [nvarchar](20) NOT NULL,
	[F7] [nvarchar](20) NOT NULL,
	[F8] [nvarchar](20) NOT NULL,
	[F9] [nvarchar](20) NOT NULL,
	[F10] [nvarchar](20) NOT NULL,
	[F11] [nvarchar](20) NOT NULL,
	[F12] [nvarchar](20) NOT NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
	[length] [tinyint] NOT NULL,
	[jizong_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[filter] [nvarchar](400) NULL,
	[kind_name] [nvarchar](20) NOT NULL,
	[kind_jun] [tinyint] NOT NULL,
	[pic_name] [nvarchar](200) NULL,
	[tools_ma] [nvarchar](50) NULL,
	[chk_pos] [nvarchar](50) NOT NULL,
	[chk_km_name] [nvarchar](50) NOT NULL,
	[hyouji_jun] [tinyint] NOT NULL,
	[yousen_jun] [tinyint] NOT NULL,
	[k_type] [nvarchar](50) NULL,
	[k1] [nvarchar](50) NULL,
	[k2] [nvarchar](50) NULL,
	[k3] [nvarchar](50) NULL,
	[chk_fmt] [nvarchar](200) NOT NULL,
	[chk_fs] [nvarchar](2) NOT NULL,
	[chk_times] [int] NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_line]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_line](
	[line_cd] [nvarchar](20) NOT NULL,
	[line_name] [nvarchar](200) NULL,
	[department_cd] [nvarchar](20) NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_m_line] PRIMARY KEY CLUSTERED 
(
	[line_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_tools]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tools](
	[department_cd] [nvarchar](20) NOT NULL,
	[barcode] [nvarchar](50) NOT NULL,
	[remarks] [nvarchar](200) NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_m_tools_1] PRIMARY KEY CLUSTERED 
(
	[department_cd] ASC,
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_user]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_user](
	[user_cd] [nvarchar](20) NOT NULL,
	[user_name] [nvarchar](20) NULL,
	[password] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NULL,
	[line_cd] [nvarchar](20) NOT NULL,
	[authority] [nvarchar](50) NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_m_user] PRIMARY KEY CLUSTERED 
(
	[user_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_check]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_check](
	[ck_id] [nvarchar](25) NOT NULL,
	[cd] [nvarchar](20) NOT NULL,
	[no] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[line_cd] [nvarchar](20) NOT NULL,
	[chk_user] [varchar](20) NULL,
	[yotei_chk_date] [datetime] NOT NULL,
	[chk_start_date] [datetime] NULL,
	[chk_end_date] [datetime] NULL,
	[status] [varchar](1) NULL,
	[result] [nvarchar](20) NULL,
	[chk_times] [int] NOT NULL,
	[suu] [varchar](10) NULL,
	[del_flg] [varchar](1) NULL,
	[qianpin] [varchar](1) NULL,
	[tools_scan_flg] [varchar](1) NULL,
	[shared_ck_id] [nvarchar](25) NULL,
	[shared_no] [nvarchar](25) NULL,
	[h] [nvarchar](20) NULL,
	[w] [nvarchar](20) NULL,
	[dh] [nvarchar](20) NULL,
	[dw] [nvarchar](20) NULL,
	[sw] [nvarchar](20) NULL,
	[kw] [nvarchar](20) NULL,
	[b2bOderNo] [nvarchar](50) NULL,
	[b2bIndexNo] [nvarchar](6) NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_t_check] PRIMARY KEY CLUSTERED 
(
	[ck_id] ASC,
	[cd] ASC,
	[no] ASC,
	[yotei_chk_date] ASC,
	[chk_times] ASC,
	[department_cd] ASC,
	[line_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_check_ms]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_check_ms](
	[id] [int] NOT NULL,
	[km_id] [int] NOT NULL,
	[F1] [nvarchar](20) NOT NULL,
	[F2] [nvarchar](20) NOT NULL,
	[F3] [nvarchar](20) NOT NULL,
	[F4] [nvarchar](20) NOT NULL,
	[F5] [nvarchar](20) NOT NULL,
	[F6] [nvarchar](20) NOT NULL,
	[F7] [nvarchar](20) NOT NULL,
	[F8] [nvarchar](20) NOT NULL,
	[F9] [nvarchar](20) NOT NULL,
	[F10] [nvarchar](20) NOT NULL,
	[F11] [nvarchar](20) NOT NULL,
	[F12] [nvarchar](20) NOT NULL,
	[F13] [nvarchar](20) NULL,
	[F14] [nvarchar](20) NULL,
	[F15] [nvarchar](20) NULL,
	[F16] [nvarchar](20) NULL,
	[F17] [nvarchar](20) NULL,
	[F18] [nvarchar](20) NULL,
	[F19] [nvarchar](20) NULL,
	[F20] [nvarchar](20) NULL,
	[length] [tinyint] NOT NULL,
	[jizong_name] [nvarchar](20) NOT NULL,
	[department_cd] [nvarchar](20) NOT NULL,
	[sys_name] [nvarchar](20) NOT NULL,
	[kind_name] [nvarchar](20) NOT NULL,
	[kind_jun] [tinyint] NOT NULL,
	[pic_name] [nvarchar](200) NULL,
	[tools_ma] [nvarchar](50) NULL,
	[chk_pos] [nvarchar](50) NOT NULL,
	[chk_km_name] [nvarchar](50) NOT NULL,
	[hyouji_jun] [tinyint] NOT NULL,
	[yousen_jun] [tinyint] NOT NULL,
	[k_type] [nvarchar](50) NULL,
	[k1] [nvarchar](50) NULL,
	[k2] [nvarchar](50) NULL,
	[k3] [nvarchar](50) NULL,
	[chk_fmt] [nvarchar](200) NOT NULL,
	[chk_fs] [nvarchar](2) NOT NULL,
	[chk_times] [int] NOT NULL,
	[ck_id] [nvarchar](25) NOT NULL,
	[cd] [nvarchar](20) NOT NULL,
	[no] [nvarchar](20) NOT NULL,
	[in_1] [nvarchar](50) NOT NULL,
	[result] [nvarchar](20) NULL,
	[mark] [nvarchar](200) NOT NULL,
	[upd_user] [nvarchar](20) NULL,
	[upd_date] [datetime] NULL,
	[ins_user] [nvarchar](20) NULL,
	[ins_date] [datetime] NULL,
 CONSTRAINT [PK_t_check_ms] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[ck_id] ASC,
	[km_id] ASC,
	[cd] ASC,
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[TCM_BianPlan]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TCM_BianPlan]
AS
SELECT           BianPlanID, PlanFlag, BianCode, deliveryNote, DeliveryToName, PortName, DestinationCode, BillNo, ProductCode, ProductCodeSap, Package, PackageAmount, trolleyAmount, LicenseID, 
                      EditerID, EditTime, SortID, Enable, CanEdit, amount, WorkLineCode, zhizaoYongBian, BomVer, DanHaoBer, BiaoHao, XiangXing, ZuoFan, b2bOderNo, b2bIndexNo, CD_DeliveryAddress, 
                      PlanDate, sapOderNo, sapIndexNo, b2bPurchaseNo, specialBookNo, H, W, DH, DW, SW, FW, Comments, CD_Dealer, DealerAbbreviation, ProduceOrder, IvNo, labelNo, localStorage, 
                      specialContent, remark, saleOrderFlag, ProjectName, insertuser, insertdate, updateuser, updatedate
FROM             OT9080.scgl_PeiSong.dbo.TCM_BianPlan AS TCM_BianPlan_1


GO
/****** Object:  View [dbo].[t_check_plan]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[t_check_plan]
AS
SELECT           PlanFlag, ProductCode AS cd, ZuoFan AS no, ProduceOrder AS shunwei, amount AS suu, DealerAbbreviation AS jxs_name, WorkLineCode AS line_cd, CONVERT(date, PlanDate, 120) 
                      AS yotei_chk_date, H AS h, W AS w, DH AS dh, DW AS dw, SW AS sw, FW AS kw, b2bOderNo, b2bIndexNo, BianPlanID
FROM             dbo.TCM_BianPlan
GO
/****** Object:  View [dbo].[v_mi_check_list]    Script Date: 2021/07/22 17:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_mi_check_list]
AS
SELECT           '未检查' AS 状态, PlanFlag, cd, no, shunwei, suu, jxs_name, line_cd, CONVERT(varchar(100), yotei_chk_date, 120) AS yotei_chk_date, h, w, dh, dw, sw, kw, b2bOderNo, b2bIndexNo, 
                      BianPlanID
FROM             dbo.t_check_plan AS a
WHERE            (NOT EXISTS
                          (SELECT           1 AS Expr1
                             FROM             dbo.t_check AS b
                             WHERE            (a.cd = cd) AND (a.no = no) AND (a.yotei_chk_date = yotei_chk_date)))

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'①' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'②' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'③' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'④' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F4'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑤' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F5'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑥' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F6'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑦' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F7'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑧' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F8'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑨' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F9'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑩' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F10'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑪' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F11'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑫' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F12'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑬' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F13'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑭' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F14'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑮' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F15'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑯' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F16'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑰' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F17'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F18'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑲' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F19'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'⑳' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'F20'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桁数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'length'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'机种名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'jizong_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'department_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'コード体系' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'sys_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'取值范围' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'filter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'kind_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类表示顺序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'kind_jun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'pic_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'治具码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'tools_ma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查位置' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_pos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查项目' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_km_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目表示顺' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'hyouji_jun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目相同优先顺' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'yousen_jun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准值1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准值2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基准值3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'k3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'公式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_fmt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查方式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_fs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'检查次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_km_template', @level2type=N'COLUMN',@level2name=N'chk_times'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生产线CD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'line_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生产线名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'line_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'department_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'upd_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'upd_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'ins_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_line', @level2type=N'COLUMN',@level2name=N'ins_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'department_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'治具ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'barcode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'治具名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'remarks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'upd_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'upd_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'ins_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_tools', @level2type=N'COLUMN',@level2name=N'ins_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户CD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'user_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'department_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'line_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'authority'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'upd_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'upd_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'ins_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user', @level2type=N'COLUMN',@level2name=N'ins_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文字段乱码,别名乱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'm_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 183
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_mi_check_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_mi_check_list'
GO
USE [master]
GO
