.top_button_panel {
    min-width: 800px;
    background-color: #efefef;
}

    /*.top_button_panel input[type='text'] {
        width: 320px;
        height: 30px;
        text-align: center;
    }*/

    .top_button_panel input[type='button'], .top_button_panel input[type='submit'] {
        margin: 8px 4px 8px 4px;
        padding: 2px 4px 2px 4px;
        text-align: center;
    }

.edit_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}





.gvtitle td {
    border-left: solid 1px #000;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    font-weight: bold;
    text-align: center;
}



.gv td {
    /*line-height: 26px;*/
    padding-bottom: 2px;
    padding-top: 2px;
    vertical-align:top;
    text-align:left;
}

    .gv td:nth-child(1), .c1 {
        width: 170px;
    }

    .gv td:nth-child(2), .c2 {
        width: 85px;
    }

    .gv td:nth-child(3), .c3 {
        width: 50px;
        text-align:center;
    }

    .gv td:nth-child(4), .c4 {
        width: 120px;
        text-align:center;
    }

    .gv td:nth-child(5), .c5 {
        width: 160px;
    }

    .gv td:nth-child(6), .c6 {
        width: 150px;
    }

    .gv td:nth-child(7) {
    
    }

.test {
    background-color: #edeb8c;
}

.PGvZen {
    overflow: auto;
    background-color: #eba8a8;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 5px solid blue;
}
